html 
head 
 title edicion de paciente
body 
    include ./utilitario/barraDeNav.pug

    h1 edicion de datos del paciente
    form(action = `/pacientes/edicion/${elPaciente.id}` method = "POST")
        label(for="nombre") nombre
        input(type="text" name = "nombre" id = "nombre")
        br
        
        label(for="edad") edad 
        input(type="number", name="edad" id = "edad")
        
        br
        label sexo: 
            br
            input(type="radio", name = "genero", value = "M" id = "sexoM")
            label(for="sexoM") Masculino
            input(type="radio", name = "genero", value = "F" id = "sexoF")
            label(for="sexoF") Femenino 
            br
            label(for="dirección") dirección 
            input(type="text", name = "domicilio" id = "domicilio")

            br
        label(for="telefono") telefono
            input(type="number", name="telefono" id = "telefono") 
            br
        button(type = "submit") guardar Cambios 
//FORMULARIO