html
  head 
    title Admisión de Paciente
  body 
    include ./utilitario/barraDeNav.pug

    h1 Admisión de nuevo paciente

    form(action="/pacientes/admision" method="POST")
      label(for="Nombre") Nombre:
      input(type="text" name="Nombre" id="Nombre")
      br

      label(for="Apellido") Apellido:
      input(type="text" name="Apellido" id="Apellido")
      br

      label(for="DNI") DNI:
      input(type="number" name="DNI" id="DNI")
      br

      label Sexo:
      br
      input(type="radio" name="Sexo" value="masculino" id="sexoM")
      label(for="sexoM") Masculino
      input(type="radio" name="Sexo" value="femenino" id="sexoF")
      label(for="sexoF") Femenino
      br

      label(for="Domicilio") Domicilio:
      input(type="text" name="Domicilio" id="Domicilio")
      br

      label(for="Seguro") Seguro:
      input(type="text" name="Seguro" id="Seguro")
      br

      label(for="Telefono") Teléfono:
      input(type="number" name="Telefono" id="Telefono")
      br

      button(type="submit") Enviar
