doctype html
html
  head
    title Listado de Pacientes
  body
    h2 Listado de Pacientes
    table
      thead
        tr
          th Nombre
          th Edad
          th Sexo
          th Enfermedad
          th Acciones
      tbody
        each paciente in pacientes
          tr
            td= paciente.nombre
            td= paciente.edad
            td= paciente.sexo
            td= paciente.enfermedad
            td
             
