body
    include ./utilitario/barraDeNav.pug
    h1 Opciones de Personal
    div
      a(href="prestador/medicos") Medicos
    div
      a(href="prestador/enfermeros") Enfermeros
    div
      a(href="prestador/listaPrestador") listar Personal