doctype html
html
  head
    title Seleccionar sector
  body
    h1 Seleccione el sector al que quiere ingresar

    ul
      li
        a(href="/usuario/login?sector=recepcion") Recepción
      li
        a(href="/usuario/login?sector=enfermero") Enfermería
      li
        a(href="/usuario/login?sector=medico") Médicos
      li
        a(href="/usuario/login?sector=admin") Admin
