block content
  head
    title Sección Médicos

  body
      a(href="/medicos/vistaInternos") Evaluar pacientes

      a(href="/medicos/gestionInternos") gestionar internados

      a(href="/medicos/listaPedidos") gestionar pedidos de estudios
