extends  ../utilitario/layout

block content
  head
    title Sección Médicos

  body.bg-sky-100.min-h-screen
    include ../utilitario/barraDeNav.pug

    h1.text-3xl.font-bold.text-center.text-gray-800.mt-8.mb-6 POR EL MOMENTO NO ESTA DISPONIBLE ¡PRONTO LO ESTARA!
