body 
    div 
      h3 Enfemero 
      p Nombre: #{enfermero.Nombre}
      p ID: #{enfermero.ID_Profesional}

    div 
      h3 Paciente 
      p Nombre: #{paciente.Nombre}
      p ID: #{paciente.ID_paciente}